<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @stadium.nome %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @stadium.cidade %>
</p>

<%= link_to 'Edit', edit_stadium_path(@stadium) %> |
<%= link_to 'Back', stadia_path %>
