<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @stadium.nome %>
</p>


<b><%= link_to 'New Stadium', new_stadium_path %></b><br><br>
<%= link_to 'Edit', edit_stadium_path(@stadium) %> |
<%= link_to 'Back', stadia_path %>
