<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @team.nome %>
</p>

<p>
  <strong>flag:</strong>
  <%= image_tag @team.flag.url(:medium) %>
</p>

<%= link_to 'New Team', new_team_path %><br>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
