<p id="notice"><%= notice %></p>

<h1>Continents</h1>

<b><%= link_to 'New Continent', new_continent_path %></b><br><br>

<table class="table table-hover table-bordered h4">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th colspan="3">Funções</th>
    </tr>
  </thead>

  <tbody>
    <% @continents.each do |continent| %>
      <tr>
        <td><%= continent.id %></td>
        <td class="red"><%= continent.nome %></td>
        <td><%= link_to 'Show', continent %></td>
        <td><%= link_to 'Edit', edit_continent_path(continent) %></td>
        <td><%= link_to 'Destroy', continent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
