<p id="notice"><%= notice %></p>

<p>
  <strong>Home team:</strong>
  <%= @match.home_team_id %>
</p>

<p>
  <strong>Goal home:</strong>
  <%= @match.goal_home %>
</p>

<p>
  <strong>Aways team:</strong>
  <%= @match.aways_team_id %>
</p>

<p>
  <strong>Goal aways:</strong>
  <%= @match.goal_aways %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
